<div class="flex h-screen">
  <!-- Sidebar -->
  <app-sidebar class="w-1/6 h-full"></app-sidebar>
  <div class="w-5/6 p-4 bg-gray-100">
    <div class="container mx-auto p-4">
      <!-- Search and Add Button -->
      <!-- Search and Add Button -->
      <div class="flex justify-between items-center mb-4">
        <div class="relative w-full max-w-lg">
          <input type="text" class="pl-10 pr-4 py-2 rounded-full shadow-sm border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full" placeholder="Rechercher par nom, prénom, téléphone ou organisme" [(ngModel)]="searchQuery" (ngModelChange)="filterVoitures()">
          <i class="fas fa-search absolute left-3 top-2.5 text-gray-400"></i>
        </div>
        <div class="flex items-center space-x-4">
          <select class="px-4 py-2 rounded-full shadow-sm border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500" [(ngModel)]="statusFilter" (ngModelChange)="filterVoitures()">
            <option value="">Tous</option>
            <option value="actif">Actif</option>
            <option value="inactif">Inactif</option>
          </select>
          <button class="bg-gray-200 text-gray-700 px-4 py-2 rounded-full shadow-md flex items-center" (click)="openCreateModal()">
            <i class="fas fa-plus mr-2"></i> Créer une Voiture
          </button>
        </div>
      </div>
      <!-- Actions -->
      <div class="flex space-x-2 mb-4">
        <button *ngIf="selectedVoitures.size > 0" class="bg-yellow-500 text-white px-4 py-2 rounded-full shadow-md flex items-center" (click)="archiveSelectedVoitures()">
          <i class="fas fa-archive mr-2"></i> Archiver les sélectionnées
        </button>
        <button *ngIf="selectedVoitures.size > 0" class="bg-green-500 text-white px-4 py-2 rounded-full shadow-md flex items-center" (click)="unarchiveSelectedVoitures()">
          <i class="fas fa-undo mr-2"></i> Désarchiver les sélectionnées
        </button>
      </div>

      <!-- Table -->
      <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full bg-white">
          <thead>
            <tr>
              <th class="py-2 px-4 border-b">
                <input type="checkbox" (change)="toggleSelectAll()" [checked]="selectedVoitures.size === filteredVoitures.length">
              </th>
              <th class="py-2 px-4 border-b">Plaque</th>
              <th class="py-2 px-4 border-b">Modèle</th>
              <th class="py-2 px-4 border-b">Contact</th>
              <th class="py-2 px-4 border-b">Organisme</th>
              <th class="py-2 px-4 border-b">Actions</th>
              <th class="py-2 px-4 border-b">Statut</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let voiture of paginatedVoitures">
              <td class="py-2 px-4 border-b"><input type="checkbox" (change)="toggleSelection(voiture._id)" [checked]="selectedVoitures.has(voiture._id)"></td>
              <td class="py-2 px-4 border-b">{{ voiture.plaque }}</td>
              <td class="py-2 px-4 border-b">{{ voiture.modele }}</td>
              <td class="py-2 px-4 border-b">{{ voiture.contact }}</td>
              <td class="py-2 px-4 border-b">{{ voiture.organisme }}</td>
              <td class="py-2 px-4 border-b">
                <button class="text-gray-500 mr-2" (click)="toggleArchiveVoiture(voiture._id, voiture.archived)">
                  <i class="fas" [ngClass]="{'fa-archive': !voiture.archived, 'fa-undo': voiture.archived}"></i>
                </button>
                <button class="text-gray-500" (click)="openUpdateModal(voiture)">
                  <i class="fas fa-edit"></i>
                </button>
              </td>
              <td class="py-2 px-4 border-b">
                <span class="relative inline-block px-3 py-1 font-semibold leading-tight" [ngClass]="{'text-green-900': !voiture.archived, 'text-red-900': voiture.archived}">
                  <span aria-hidden class="absolute inset-0 rounded-full" [ngClass]="{'bg-green-200': !voiture.archived, 'bg-red-200': voiture.archived}" [style.opacity]="'0.5'"></span>
                  <span class="relative">{{ voiture.archived ? 'Inactif' : 'Actif' }}</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      <div class="flex justify-center mt-4">
        <nav class="flex items-center space-x-1">
          <button class="px-3 py-1 bg-gray-200 text-gray-700 rounded-full" (click)="prevPage()" [disabled]="currentPage === 1">Précédent</button>
          <span class="px-3 py-1">Page {{ currentPage }} de {{ totalPages }}</span>
          <button class="px-3 py-1 bg-gray-200 text-gray-700 rounded-full" (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button>
        </nav>
      </div>
    </div>
  </div>
</div>



<!-- Modal de création de voiture -->
<div *ngIf="showCreateModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
  <div class="bg-white rounded-lg w-1/3">
    <app-voiture-create (closeModal)="closeCreateModal()"></app-voiture-create>
  </div>
</div>

<div *ngIf="showModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
  <div class="bg-white rounded-lg w-1/3">
    <div class="p-4">
      <div class="flex justify-between items-center border-b pb-2">
        <h5 class="text-lg font-semibold">Mettre à jour la voiture</h5>
        <button type="button" (click)="closeModal()">
          <i class="fas fa-times text-gray-500"></i>
        </button>
      </div>
      <div class="mt-4">
        <form [formGroup]="voitureForm" (ngSubmit)="updateVoiture()" class="space-y-4">
          <div>
            <label class="block text-sm font-medium text-gray-700">Plaque <span class="text-red-500">*</span></label>
            <input type="text" formControlName="plaque" class="mt-1 block w-full rounded-full border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="plaque" placeholder="e.g., AB123CD" (input)="formatPlaque($event)">
            <div *ngIf="plaque?.invalid && (plaque?.dirty || plaque?.touched)" class="text-red-500 text-sm mt-1">
                <div *ngIf="plaque?.errors?.['required']">Plaque est requise.</div>
                <div *ngIf="plaque?.errors?.['pattern']">Le numéro de la plaque doit être au format AB-123-CD ou AB-1234-CD.</div>
            </div>
        </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Modèle <span class="text-red-500">*</span></label>
            <input type="text" class="mt-1 block w-full rounded-full border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="modele" formControlName="modele" [(ngModel)]="selectedVoiture.modele">
            <div *ngIf="modele?.invalid && (modele?.dirty || modele?.touched)" class="text-red-500 text-sm mt-1">
              Modèle est requis.
            </div>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Email <span class="text-red-500">*</span></label>
            <input type="email" class="mt-1 block w-full rounded-full border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="contact" formControlName="contact" [(ngModel)]="selectedVoiture.contact">
            <div *ngIf="contact?.invalid && (contact?.dirty || contact?.touched)" class="text-red-500 text-sm mt-1">
              <div *ngIf="contact?.errors?.['required']">Email est requis.</div>
              <div *ngIf="contact?.errors?.['email']">Veuillez entrer un format email valide.</div>
            </div>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Organisme <span class="text-red-500">*</span></label>
            <select class="mt-1 block w-full rounded-full border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="organisme" formControlName="organisme" [(ngModel)]="selectedVoiture.organisme">
              <option value="">Sélectionnez un organisme</option>
              <option value="police">Police</option>
              <option value="gendarmerie">Gendarmerie</option>
              <option value="ambulance">Ambulance</option>
            </select>
            <div *ngIf="organisme?.invalid && (organisme?.dirty || organisme?.touched)" class="text-red-500 text-sm mt-1">
              Organisme est requis.
            </div>
          </div>
          <div class="flex justify-end mt-4">
            <button type="button" class="w-1/2 bg-red-600 text-white py-2 rounded-full mr-2" (click)="closeModal()">Fermer</button>
            <button type="submit" class="w-1/2 bg-green-600 text-white py-2 rounded-full ml-2" [disabled]="!isFormComplete()">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
